.admin-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.admin-table th,
.admin-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.admin-table th {
  background-color: #843e3c;
  color: white;
}

.admin-table tr:nth-child(even) {
  background-color: #f7e5e5;
}

.preview {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* ------------ FORM AGREGAR PRODUCTO ------------- */

.add-form {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.add-form input,
.add-form select {
  padding: 6px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.btn-agregar {
  background-color: #843e3c;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-agregar:hover {
  background-color: #6d2e2e;
}

.btn-actualizar {
  background-color: #843e3c;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-actualizar:hover {
  background-color: #6d2e2e;
}

.alert {
  background-color: #eebbbb;
  color: #7b1f1f;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}

/* Buscador */
.buscador-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.buscador-form input {
  flex: 1;
  padding: 6px;
}
